<form (ngSubmit)="onSubmit()" [formGroup]="roomForm">
    <h2 mat-dialog-title>Enregistrer une salle</h2>
    <mat-dialog-content class="mat-typography">
      
        <div class="form-field">
            <mat-form-field>
                <mat-label>Nom de la salle</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Ex: La maison du savoir">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Adresse</mat-label>
                <input type="text" matInput formControlName="address"placeholder="Ex: 11 avenue des lilas, 31320 Castanet Tolosan">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Nombre de tables</mat-label>
                <input type="number" matInput formControlName="tableCount"placeholder="Ex: 21">
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-button [mat-dialog-close]="true" type="submit" cdkFocusInitial [disabled]="!roomForm.valid">Enregistrer</button>
    </mat-dialog-actions>
</form>
